# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask cache and instance folder
instance/
*.db
*.sqlite3

# Logs
*.log

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/

# VS Code and IDE folders
.vscode/
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.pkl
*.h5
*.pt

# Static asset cache
*.sass-cache
*.css.map

# dotenv environment variables file
.env
.env.*

# Mac OS
.DS_Store

# Other
*.bak
*.swp
